# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# files to ignore
Test.py
testJSON.py
testmermaid.py
testPareto.py
TestTheOptimizer.py
working_sim_model.py
optimizer_test.py
plotFacts.py
calculateHV.py
testSCORE.py
testBOTTLENECK.py
results/
*.csv
*.mmd
*.png



# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg




# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/



# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/









