#OBS: Need to install node.js

# Core scientific / data handling
pandas>=2.0
numpy>=1.26
matplotlib>=3.8
plotly>=5.15.0

# Simulation & Optimization
simpy>=4.1
pymoo
paretoset

# Process mining
pm4py>=2.7.11

# APIs & Utilities
openai>=1.40
python-dotenv
requests